
  <section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Cosa è?</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad illum fuga atque minima vitae saepe explicabo placeat excepturi corrupti, animi ducimus sint ipsum error dolores, delectus voluptatibus voluptatem ipsam pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">A chi è rivolto?</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae perspiciatis porro corporis expedita tempora enim illum quis animi quidem natus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Perché?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim expedita consequatur dolorum pariatur adipisci ut asperiores maxime eveniet vero, perferendis laboriosam neque tempore quae, temporibus fugiat a libero. Minima cum id ipsa vitae debitis, dolore provident nostrum illo tempora ullam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section hero is-info">
    <nav class="level">
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Utenti</p>
                <p class="title">+200</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Cre serviti</p>
                <p class="title">38</p>
            </div>
        </div>
        <div class="level-item has-text-centered">
            <div>
                <p class="heading">Followers</p>
                <p class="title">1.2K</p>
            </div>
        </div>
    </nav>
</section>
<section class="hero">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">Dicono di noi...</h1>
      </div>
      <div class="block"></div>
      <div class="columns">
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../../assets/avatars/avatar1.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Mario Bianchi</p>
                  <p class="subtitle is-6">@mariobianchi</p>
                </div>
              </div>
              <div class="content">
                Wow che app fantastica, super bella davvero, grazie mille a tutti per avermi supportato. Consigliatissimo!
                <a>#super</a> <a>#crestionale</a>
                <br>
                <time datetime="2016-1-1">11:09 PM - 08 Jun 2020</time>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3"> 
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../../assets/avatars/avatar2.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Valeria Stanga</p>
                  <p class="subtitle is-6">@stangavale</p>
                </div>
              </div>
              <div class="content">
                Ho trovato davvero utile e funzionale l'utilizzo di questo sito
                <a>#crestionalenelcuore</a>
                <br>
                <time datetime="2016-1-1">09:20 AM - 28 Jul 2020</time>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../../assets/avatars/avatar3.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Michele Pesci</p>
                  <p class="subtitle is-6">@mickfishes</p>
                </div>
              </div>
              <div class="content">
                Data la mia anziana età, è molto difficile calcolare a mano gli ingenti numeri di pasti da preparare per la mensa. Meno male che c'è quest'app che con un elaboratissimo algoritmo fa la somma!
                <a>#geniale</a> <a>#graziealcielo</a>
                <br>
                <time datetime="2016-1-1">10:30 AM - 31 Oct 2020</time>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-3">
          <div class="card">
            <div class="card-content">
              <div class="media">
                <div class="media-left">
                  <figure class="image is-48x48">
                    <img src="../../assets/avatars/avatar4.png">
                  </figure>
                </div>
                <div class="media-content">
                  <p class="title is-4">Augusta Paciock</p>
                  <p class="subtitle is-6">@augustpac</p>
                </div>
              </div>
              <div class="content">
                Un ringraziamento al team di sviluppo di questo sotware!
                <a>#grazie</a> <a>#mille</a> 
                <br>
                <time datetime="2016-1-1">07:10 PM - 02 Dec 2019</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>