<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-4">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Cosa è?</p>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad illum fuga atque minima vitae saepe explicabo placeat excepturi corrupti, animi ducimus sint ipsum error dolores, delectus voluptatibus voluptatem ipsam pariatur.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">A chi è rivolto?</p>
                            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae perspiciatis porro corporis expedita tempora enim illum quis animi quidem natus.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="container">
                    <div class="card">
                        <div class="card-content">
                            <p class="title">Perché?</p>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim expedita consequatur dolorum pariatur adipisci ut asperiores maxime eveniet vero, perferendis laboriosam neque tempore quae, temporibus fugiat a libero. Minima cum id ipsa vitae debitis, dolore provident nostrum illo tempora ullam.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>