<div class="block">
</div>    
    
<div class="tile is-ancestor">
    
    <div class ="tile is-parent is-4"></div>
    
    <div class="tile is-parent is-vertical is-4">
        <div class="tile is-child is-primary">
            <div class="box">
                
                <div class="field">
                    <div class="control has-icons-left">
                    <input *ngIf="emailIsInvalid || userNotExists" [(ngModel)]="loginUserData.email" #email="ngModel" name="email" class="input is-danger" type="email" placeholder="Email" required>
                    <input  *ngIf="!emailIsInvalid && !userNotExists" [(ngModel)]="loginUserData.email" name="email" class="input" type="email" placeholder="Email">
                    <p *ngIf="emailIsInvalid" class="help is-danger">L'indirizzo email inserito non è valido</p>
                    <p *ngIf="userNotExists" class="help is-danger">L'utente specificato non esiste</p>
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                    </div>
                </div>

                <div class="field">
                    <div class="control has-icons-left">
                    <input *ngIf="passwordWrong" [(ngModel)]="loginUserData.password" name="password" class="input is-danger" type="password" placeholder="Password" required>
                    <input *ngIf="!passwordWrong" [(ngModel)]="loginUserData.password" name="password" class="input" type="password" placeholder="Password">
                    <p *ngIf="passwordWrong" class="help is-danger">La password inserita è errata</p>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                    </div>
                </div>
            </div>
        </div>
    

        <div class="tile is-child is-danger">
            <div class="buttons is-centered">
                <button (click)="loginUser()" class="button is-primary">Entra</button>
            </div>
        </div>

    </div>
</div>